<%- include("../includes/head.ejs") %>

<body>
  <%- include("../includes/nav.ejs") %>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-8 m-auto text-center">
        <h1>Dashboard</h1>
        <p class="lead">Welcome</p>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#addModal"
        >
          Add Restaurant
        </button>
        <div class="my-2">
          <%- include("../includes/info.ejs") %>
        </div>
      </div>
    </div>
    <% if(restaurants.length > 0) { %> <% for(rest of restaurants) { %>
    <div class="row mt-3">
      <div class="col-md-8 m-auto">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                src="/<%=rest.image%>"
                class="card-img"
                alt="Image of Restaurant"
                height="250"
                width="250"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= rest.name %></h5>
                <p class="card-text">
                  Adress: <%= rest.adress%>
                </p>
                <p class="card-text" style="height: 2rem;">
                  Comment: <%= rest.description %>
                </p>
                <div class="row justify-content-center mt-5">
                  <a
                    class="btn btn-info mx-2"
                    href="/restaurant-details/<%= rest.id %>"
                  >
                    Details
                  </a>
                  <form action="/delete-restaurant" method="POST">
                    <input type="hidden" value="<%= rest.id %>" name="id" />
                    <button type="subtmit" class="btn btn-danger mx-2">
                      Delete
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %> <% } %>

    <!-- Modal -->
    <div
      class="modal fade"
      id="addModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalTitle">
              Add a restaurant
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              action="/add-restaurant"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" required />
              </div>
              <div class="form-group">
                <label for="adress">Address</label>
                <input
                  type="text"
                  class="form-control"
                  name="adress"
                  required
                />
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input
                  type="text"
                  class="form-control"
                  name="description"
                  required
                />
              </div>
              <div class="form-group">
                <label for="image">Image</label>
                <input
                  type="file"
                  class="form-control-file"
                  name="image"
                  required
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" id="submit_add" class="btn btn-primary">
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <%- include("../includes/end.ejs") %>
</body>
