<%- include("../includes/head.ejs") %>

<body>
  <%- include("../includes/nav.ejs") %>
  <main>
    <div class="container text-center mt-5">
      <div class="row mt-5">
        <div class="col-md-4">
          <img
            src="/<%=rest.image%>"
            alt=""
            class="img-fluid"
            height="400"
            width="400"
          />
        </div>
        <div class="col-md-6">
          <h1><%= rest.name %></h1>
          <div class="text-left pl-5">
            <p class="lead pt-4">
              <span class="font-weight-bold">Adress:</span> <%= rest.adress %>
            </p>
            <p class=" lead pt-4">
              <span class="font-weight-bold">Description:</span> <%=
              rest.description %>
            </p>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-info"
              data-toggle="modal"
              data-target="#editModal"
            >
              Edit Restaurant
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-5 justify-content-center">
        <h3 class="display-4">Reviews</h3>
      </div>
      <div class="row mt-5">
        <div class="col-md-8 m-auto">
          <div class="card">
            <form action="/add-review" method="POST">
              <div class="card-body">
                <h4 class="my-2">Write a Review</h4>
                <div id="stars" class="form-group my-2">
                  <span id="1" class="far fa-star"></span>
                  <span id="2" class="far fa-star"></span>
                  <span id="3" class="far fa-star"></span>
                  <span id="4" class="far fa-star"></span>
                  <span id="5" class="far fa-star"></span>
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    id="reviewText"
                    rows="3"
                    name="text"
                  ></textarea>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-secondary">
                  Close
                </button>
                <button type="submit" id="review_add" class="btn btn-primary">
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalTitle">
              Edit Restaurant
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              action="/edit-restaurant"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <input type="hidden" value="<%= rest.id%>" name="id" />
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  required
                  value="<%= rest.name %>"
                />
              </div>
              <div class="form-group">
                <label for="adress">Address</label>
                <input
                  type="text"
                  class="form-control"
                  name="adress"
                  value="<%=rest.adress%>"
                  required
                />
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input
                  type="text"
                  class="form-control"
                  name="description"
                  value="<%=rest.description%>"
                  required
                />
              </div>
              <div class="form-group">
                <label for="image">Image</label>
                <input
                  type="file"
                  class="form-control-file"
                  name="image"
                  value="<%= rest.image %>"
                  required
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" id="submit_add" class="btn btn-primary">
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <%- include("../includes/end.ejs") %>
</body>
